# 1.Sintaks Dasar
print adalah sebuah sintaks dasar untuk mengeluarkan perintah

In [1]:
print("Hello World!")

Hello World!

In [2]:
a = 5
print(a, "mempunyai tipe", type(a))

5 mempunyai tipe <class 'int'>

In [3]:
a = 2.0
print(a, "mempunyai tipe", type(a))

2.0 mempunyai tipe <class 'float'>

In [4]:
a = 5>6
print(a, "mempunyai tipe", type(a))

False mempunyai tipe <class 'bool'>

In [5]:
a = "Ini adalah sebuah string"
print(a, "mempunyai tipe", type(a))

Ini adalah sebuah string mempunyai tipe <class 'str'>

In [11]:
a = 5
b = 4
c = a+b
d = 3+c
print(a)
print(b)
print(c)
print(d)
print(a+b*(a+b)/2)

5
4
9
12
23.0

In [13]:
harga_buku = 100000
diskon = 0.40
ongkir_pertama = 9000
ongkir_tambahan = 3000
harga_diskon = (100000*0.40)
j = 100000-e
f = j+9000
g = (j+3000)*59
k = f+g
print('Harga Buku = ', harga_buku)
print('Diskon = ', diskon)
print('Harga Diskon = ', harga_diskon)
print('Total Biaya salinan pertama = ', f)
print('Total Biaya salinan tambahan = ', g)
print('Total Biaya 60 Eksemplar = ', k)

Harga Buku =  100000
Diskon =  40000.0
Harga Diskon =  60000.0
Total Biaya salinan pertama =  69000.0
Total Biaya salinan tambahan =  3717000.0
Total Biaya 60 Eksemplar =  3786000.0

In [14]:
x = 10
y = 12

print('x > y  is',x>y)

print('x < y  is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [15]:
x = 5 == 5
y = 1 > 2


print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

In [19]:
nilai = 95 # Coba dirubah menjadi 80
if nilai>90:
    print("Lulus")
    print("Selamat")
    
print("Program Selesai")

Lulus
Selamat
Program Selesai

In [22]:
nilai = 85 
if nilai>90:
    print("Lulus")
    print("Selamat")
elif nilai>80:
    print("Anda masuk ke waiting list")
else:
    print("Maaf Anda Belum Berhasil")
    
print("Program Selesai")

Anda masuk ke waiting list
Program Selesai

In [ ]:
weight = 50
height = 160
BMI = weight
if